
footer
{
    position: relative;
    clear:both;
    /* height: 200px; */
}
.footertarget
{
    position: absolute;
    left: 50%;
    top: 40%;
}

.footer-wrap
{
    padding-top: 50px;
    padding-bottom: 1px;
    width: 100%;
    margin: auto;
}

.footer-contents
{
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
    display: flex;
    flex-wrap: wrap;

}
.footer-col
{
    overflow: hidden;
}

.footer-menu
{
    margin: 16px 0px ;
    float: left;
}
.footer-menu li
{
    float: left;
    padding-right: .8rem;
    border-right: 1px solid #e1e1e1;
    line-height: .9rem;
    margin-right: .8rem;
}
.footer-sns
{
    float: right;
}
.footer-sns li
{
    float: left;
}
.footer-sns li a
{
    font-size: 1.5rem;
    padding: 0.7rem;
}

.footer-box address
{
    margin-top: 1.5rem !important;
    margin-bottom: .25rem !important;
    font-style: normal;
    line-height: inherit;
    --bs-text-opacity: 1;
    color: rgba(0, 0, 0, .5) !important;
}
.footer-box p
{
    --bs-text-opacity: 1;
    color: rgba(0, 0, 0, .5) !important;
    margin-bottom: .25rem !important;
    margin-top: 0;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}
.footer-row
{
    padding-left: 12px;    
}

.footer-sns li a
{
    font-size: 1.5rem;
}
.bi-facebook
{
    color: #3b5998;;
}
.bi-youtube
{
    color: #e62117;
}
.bi-twitter
{
    color: #00acee;
}
.bi-line
{
    color: #00b900;
}





/* 반응형 개조 */
@media (max-width: 576px)
{
    nav, .footer-wrap, .container
    {
        max-width: 540px;
    }

    .logo
    {
        margin: 10px;
    }
}
@media (min-width: 576px)
{
    nav, .footer-wrap, .container
    {
        max-width: 540px;
    }

    .logo
    {
        margin: 10px;
    }
    
}


@media (min-width: 768px){
    nav, .footer-wrap, .container
    {
        max-width: 720px;
    }

    .logo
    {
        margin: 0px;
    }
    .footer-logo
    {
        width: 25%;
        display: block;
    }
    .footer-row
    {
        width: 75%;
    }

}

@media (min-width: 992px){
    nav, .footer-wrap, .container
    {
        max-width: 960px;
    }

    ul.icon
    {
        display: flex;
    }
    .logo
    {
        margin: 0px;
    }

}
@media (min-width: 1200px){
    nav, .footer-wrap, .container
    {
        max-width: 1140px;
    }

    .logo
    {
        margin: 0px;
    }

}
@media (min-width: 1400px){
    nav, .footer-wrap, .container
    {
        max-width: 1320px;
    }

    .logo
    {
        margin: 0px;
    }

}



