@charset "utf-8";
/* 
    메인 페이지
    header : fixed
    title-page : none
    top : none
    메인 페이지 그외
    header : absolute
    title-page : block
    top : block
 */
.box
{
    width: 100%;
    height: 100px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 100%;
}

.none
{
    display: none;
}


/* head 수정본 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
a{
    text-decoration: none;
    color: black;
    display: block;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    vertical-align: bottom;
    /*   vertical-align: top; */
}


.title-page
{
    height: calc(220px + 160px + 48px);
    padding-top: 160px;
    padding-bottom: 48px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/slider_1-scaled-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


nav
{
    /* max-width: 1320px; */
    width: 100%;
    margin: 0 auto;
    padding: 0px 12px;
    position: relative;
}

div.top
{
    overflow: hidden;
    margin-top:23px;
}

ul.top-menu
{
    /* display: flex; */
    float: right;
    overflow: hidden;
    margin: 0;
}

ul.top-menu>li
{
    float: left;
    margin-left: 16px;
    padding-left: 16px;
}

ul.top-menu>li>a
{
    font-size: 0.8em;
    font-weight: bold;
    color: white;
}

header
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    position: absolute;
    z-index: 1000;
    /* left: 50%;
    transform: translateX(-50%); */
}



div.head
{
    /* overflow: hidden; */
    padding-top: 8px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

div.logo
{
    margin-right: auto;
}
div.logo>a
{
    height: auto;

    display: flex;
    align-items: center;
}

div.logo>a>img
{
    max-width: 214px;
    width: 100%;
}

div.head-menu
{
    float: right;
    display: flex;
    align-items: center;
    margin: 0;
}

ul.head-main-menu
{
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 0.7em;
}

ul.head-main-menu>li
{
    position: relative;
}

ul.head-main-menu>li>a
{
    display: inline-block;
    line-height: 3.6em;
    font-weight: bold;
    font-size: 1.1em;
    padding: 1rem;
    padding-left: 1.8rem;
    padding-right: 1.3rem;
    transition: color 0.5s;
    color: #eee;
}

ul.head-main-menu>li:not(:first-child)>a::after
{
    content: "\f229";
    font-family: bootstrap-icons !important;
    display: inline-block;
    font-size: 0.5rem;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    /* padding-left: 0.5rem; */
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

ul.head-sub-menu
{
    position: absolute;
    padding: 0;
    margin-left: 24px;
    width: 150%;
    min-width: 150px;
    padding: 8px 0px;
    background-color: #fff;
}
ul.head-sub-menu>li
{
    position: relative;
    color: #333;
}
ul.head-sub-menu>li>a
{
    padding: 0.6rem 1em;
    font-size: 0.87rem;
}

ul.head-sub-menu>li:has(ul.head-sub-menu-sub)>a::after
{
    content: "\F231";
    font-family: bootstrap-icons !important;
    display: inline-block;
    font-size: 0.5rem;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    /* padding-left: 0.5rem; */
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    /* float: right; */
}


ul.head-sub-menu-sub
{
    position: absolute;
    left: 100%;
    top: -8px;
    padding: 0;
    /* margin-left: 24px; */
    width: 100%;
    min-width: 150px;
    padding: 8px 0px;
    background-color: #fff;
}

ul.head-sub-menu-sub>li>a
{
    padding: 0.6rem 1em;
    font-size: 0.87rem;
}

ul.head-sub-menu-sub,
ul.head-sub-menu
{
    display: none;
}

.black
{
    color: #222;
}
.white
{
    color: #eee;
}

ul.icon
{
    display: none;
    padding-left: 24px;
    margin: 0;
}

ul.icon li:first-child a 
{
    padding: 0px 8.4px;
}

ul.icon li:last-child a 
{
    padding-left: 16px;
}

ul.icon li a img:last-child
{
    display: none;
}
/* head 수정본 */



/* 반응형 개조 */
@media (max-width: 710px)
{
    #main-title-area{
        display: none;
    }
}

@media (min-width: 576px)
{
    
    nav
    {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    ul.head-main-menu
    {
        display: flex;
    }
    nav,#main-title-area,.main-content,.footer-wrap
    {
        max-width: 720px;
    }

}

@media (min-width: 992px){
    nav,#main-title-area,.main-content,.footer-wrap
    {
        max-width: 960px;
    }
    ul.icon
    {
        display: flex;
    }
}
@media (min-width: 1200px){
    nav,#main-title-area,.main-content,.footer-wrap
    {
        max-width: 1140px;
    }

}
@media (min-width: 1400px){
    nav,#main-title-area,.main-content,.footer-wrap
    {
        max-width: 1320px;
    }
    
}
 /* 메인타이틀 */
#main-title-area {
    /* max-width: 1320px; */
    width: 100%;
    margin: 50px auto;
    padding: 0px 12px;
    position: relative;
    text-align: right;
}

.main-title {
    position: relative;
    color: white;
    padding: 7px 0px;
}

#main-title1 {
    font-size: 55px;
    font-weight: bold;
}

#main-title2 {
    font-size: 20px;
}

#main-title-line {
    border-bottom: 3px solid white;
    width: 35px;
    left: 75%;
    margin-top: 50px;
    font-weight: bold;

}
/* 서브페이지의 메인 내비 */
.main-content {
    width: 100%;
    height: 2500px;
    margin: 0 auto;
    padding: 0px 12px;
    position: relative;
}

.main-section {
    float: right;
}

.main-nav {
    width: 300px;
    height: 700px;
    float: left;
    z-index: 5;
}

.main-nav-index {
    position: relative;
    width: 100%;
    height: 100%;
    top: -190px;
    padding: 0;
}

.main-nav-box {
    position: relative;
    width: 100%;
    height: 80px;
    top: 150px;
    display: block;
}

a.main-nav-title {
    width: 300px;
    height: 150px;
    position: absolute;
    background-color: rgb(62 28 106 / 90%);
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    display: block;
}

.main-nav-box>a {
    padding: 1.2rem;
    margin-bottom: 2px;
    font-size: 1rem;
}

.main-nav-hidden {
    margin-top: 15px;
    position: relative;
    height: 160px;
    width: 100%;
}

.hidden {
    display: none;
    height: 50px;
}

.nav-main>a {
    font-size: 20px;
}

.not-select>a {
    width: 100%;
    height: 97%;
    background-color: #f1f1f1;
}
.this-page {
    color: #676ba7;
    border: 3px solid #676ba7;
}

/* 서브페이지의 메인 내비 끝*/
 /* breadcrumb시작 */
 .breadcrumb {
    margin-top: 40px;
    width: 500px;
    position: relative;
    left: 50%;
}

.breadcrumb>ul {
    overflow: hidden;
}

.breadcrumb>ul>li {
    float: left;
}

.breadcrumb>ul>li>a>img {
    position: relative;
    top: -5px;
}

.breadcrumb>ul>li>img {
    position: relative;
    top: -5px;
}

#home {
    position: relative;
    top: -3px;
}
 /* breadcrumb끝 */
 
/* 서브페이지1-1-1 메인내용 */
 .main-section {
    float: right;
    position: relative;
    width: 900px;
    height: 100%;
}

.content_header {
    left: 100px;
    position: relative;
    opacity: 0;
    transition: all 1s;
}

.content_header.active {
    opacity: 1 !important;
    transform: translate(-100px, 0) !important;
}
.content_header-2 {
    left: 100px;
    position: relative;
    opacity: 0;
    transition: all 1.5s;
}

.content_header-2.active {
    opacity: 1 !important;
    transform: translate(-100px, 0) !important;
}



.content {
    width: 100%;
    height: 100%;
}
/* 서브페이지1-1-1 메인내용 */
/* 서브페이지1-2-2 메인내용시작*/

/* 서브페이지1-2-2 메인내용끝 */
/* 푸터 */
footer
{
    position: relative;
    /* height: 200px; */
}
.footertarget
{
    position: absolute;
    left: 50%;
    top: 40%;
}

.footer-wrap
{
    padding-top: 50px;
    padding-bottom: 1px;
    width: 100%;
    margin: auto;
}

.footer-contents
{
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.footer-col
{
    overflow: hidden;
}

.footer-menu
{
    margin: 16px 0px ;
    float: left;
}
.footer-menu li
{
    float: left;
    padding-right: .8rem;
    border-right: 1px solid #e1e1e1;
    line-height: .9rem;
    margin-right: .8rem;
}
.footer-sns
{
    float: right;
}
.footer-sns li
{
    float: left;
}
.footer-sns li a
{
    font-size: 1.5rem;
    padding: 0.7rem;
}

.footer-box address
{
    margin-top: 1.5rem !important;
    margin-bottom: .25rem !important;
    font-style: normal;
    line-height: inherit;
    --bs-text-opacity: 1;
    color: rgba(0, 0, 0, .5) !important;
}
.footer-box p
{
    --bs-text-opacity: 1;
    color: rgba(0, 0, 0, .5) !important;
    margin-bottom: .25rem !important;
    margin-top: 0;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}
.footer-row
{
    padding-left: 12px;    
}

.footer-sns li a
{
    font-size: 1.5rem;
}
.bi-facebook
{
    color: #3b5998;;
}
.bi-youtube
{
    color: #e62117;
}
.bi-twitter
{
    color: #00acee;
}
.bi-line
{
    color: #00b900;
}

/* 푸터 */
/* 검색바 */
.head-search {

    width: 100%;
    height: 80px;
    background-color: white;
    text-align: center;
    display: none;
}
.head-search-bar {
    position: relative;
    font-size: 1.8rem;
    line-height: 5rem;  
    width: 100%;
    text-indent: 2rem;
    transition: all 0.5s;
    text-align: right;
    height: 100%;
    border: 0px;
    outline: none;
    z-index: 100;
    padding: 0 12px;
}
/* 검색바 */