body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

header {
  position: fixed;
  z-index: 5;
  background: #fff;
}

#top-banner {
  height: 40px;
  position: relative;
  border-bottom: 2px solid black;
}

#top-banner a {
  display: block;
  height: 40px;
}

#top-banner > a > img {
  height: 40px;
  width: 100%;
}

#top-banner-title p {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  font-size: 14px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  line-height: 40px;
  margin: 0;
}

#top-banner-title img {
  margin-left: 10px;
  display: inline-block;
  transform: translateY(25%);
}

#main-banner {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
}

#main-banner-login {
  text-align: right;
  padding-top: 12px;
  height: 19px;
}

#main-banner-login > p {
  margin: 0 0 0 40px;
  display: inline-block;
  font-size: 13px;
  color: #333;
  /* position: relative; */
}

#main-banner-login > p#mbLogin {
  margin-left: 0;
}

#main-banner-login > p > a {
  color: #000;
}

#main-banner-logo {
  text-align: center;
}

#main-banner-wrap {
  display: flex;
  justify-content: space-evenly;
  margin: 17px 0;
}

#gnb {
  height: 27px;
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: 27px;
  font-size: 18px;
  position: relative;
}

#gnb li {
  margin-left: 70px;
}

#gnb li:first-child {
  margin-left: 270px;
}

#gnb li a {
  color: #333;
  font-weight: 900;
}

.toggle-nav {
  position: absolute;
  border: 1px solid #333;
  top: 30px;
  left: 500px;
  font-size: 15px;
  width: 15%;
  text-align: center;
  background-color: rgba(238, 231, 231, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.tn2 {
  left: 630px;
}

.tn3 {
  left: 750px;
}

.tn4 {
  left: 850px;
}

#gnb div.toggle-nav li {
  margin-left: 0;
  padding: 5px;
}

#icon {
  display: flex;
  margin: 0;
}

#icon li {
  margin-left: 25px;
  height: 30px;
}

#icon li a img {
  height: 28px;
}

#icon li:first-child {
  margin-left: 190px;
}

#break-line {
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
}

.global-toggle {
  display: block;
}
