@charset "UTF-8";

*{margin:0; padding:0;vertical-align:middle;}
html, body {width:100%;height:100%}
html {overflow-y:scroll}
body {font:normal 14px/1 'Arial', 'sans-serif'; color:#333; background:#fff;}
a {color:#333; text-decoration:none;}
ul, li {list-style:none;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:14px;}
.clearfix::after {content:""; display:block; clear:both;}
header, main, footer, nav, aside, menu, section, figcaption, figure, hgroup, details{display:block;}