#aboutWrap {
  position: relative;
  width: 100%;
  padding-top: 80px; 
}
#aboutWrap #about {
  position: relative;
  width: 100%;
}
#aboutWrap .wrap {
  position: relative;
  margin: 0 auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

#aboutWrap .titlewrap {
  width: 100%;
}

#aboutWrap h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  color: #232323;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

#aboutWrap .line {
  background-color: #f7d23d;
  width: 100px;
  height: 2px;
  margin: 20px auto;
}

#aboutWrap .titlewrap > p {
  font-size: 22px;
  width: 60%;
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  /* color: #858484; 수정 */
  font-weight: 400;
  text-align: center;
  margin: 20px auto;
}

#aboutWrap #images {
  position: relative;
  width: 580px;
  padding-top: 10px;
}

#aboutWrap #images > .img1 {
  float: left;
  height: 480px;
  padding-right: 30px;
  padding-top: 20px;
}

#aboutWrap #images > .img1 > img {
  width: 260px;
  opacity: 0;
}

#aboutWrap #images > .img2 > img {
  width: 260px;
  padding-top: 20px;
  opacity: 0;
}

#aboutWrap .contentwrap {
  position: relative;
  display: flex;
}

#aboutWrap #BI {
  width: 580px;
  position: relative;
  padding: 10px;
}

#aboutWrap #BI > div {
  margin: 0 auto;
  width: 500px;
  margin-top: 20px;
  opacity: 0;
}

#aboutWrap h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #232323;
  font-weight: 600; /* add */
}

#aboutWrap .ct1 {
  font-size: 20px;
  font-weight: 500;
  color: #696868;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#aboutWrap .ct2 {
  font-size: 14px;
  line-height: 1.5;
  color: #666565;
}
