body {
    display: none;
}

#topArea {
    width: 100%;
    height: 960px;
    position: relative;
    overflow: hidden;
}

#navZone {
    width: 100%;
    height: 100px;
    padding: 10px;
    /* background-color: blue; */
    /* 필요에 따라 배경색을 변경하세요 */
    position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    z-index: 1;
    cursor: pointer;
}

.gnb {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.gnb>ul {
    overflow: hidden;
}

.gnb>ul li {
    float: left;
    padding: 10px;
}

.gnb>ul li>a {
    color: white;
    padding: 20px 0;
    text-decoration: none;
}

.gnb div.Shop_item {
    color: white;
    position: absolute;
    width: 120px;
    top: 40px;
    /* 위치 조정 */
    left: 130px;
    /* 위치 조정 */
    display: none;
    /* 초기 상태 숨김 */
}

.gnb div.Community_item {
    color: white;
    position: absolute;
    width: 100px;
    top: 40px;
    /* 위치 조정 */
    left: 190px;
    /* 위치 조정 */
    display: none;
    /* 초기 상태 숨김 */
}

.gnb div>ul>li {
    opacity: 0;
    display: none;
    margin-top: 10px;
}

#contentsZone {
    width: 100%;
    height: 960px;
    position: relative;
    z-index: 0;
}

#contentsZone>img {
    width: 100%;
    height: 960px;
    position: absolute;
    top: -120px;
    left: 0;
    z-index: 1000;
    pointer-events: none;
}

#textZone>p {
    font-family: sans-serif;
    position: absolute;
    top: 48%;
    left: 50%;
    color: black;
    transform: translateX(-50%);
    font-weight: 200px;
    font-size: 24px;
    display: none;
    opacity: 0;
}

#textZone>p.active {
    display: block
}

#textshow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    overflow: hidden;
}

#textshow>span {
    opacity: 0;
    margin-top: 20px;
    display: block;
    float: left;
    font-weight: 200px;
    font-size: 24px;
    color: rgb(36, 36, 36);
}

#controlZone {
    margin: 0 auto;
    width: 200px;
    overflow: hidden;
    /* background-color: red; */
    position: absolute;
    z-index: 200;
    bottom: 50px;
    left: 50%;
    transform: translateX(-45%);
}

#controlZone>a {
    float: left;
    padding: 0 20px;
    color: rgb(105, 105, 105);
    cursor: pointer;
}

#controlZone>a.active {
    color: white;
}

#bottomArea {
    position: relative;
    overflow: hidden;
    padding: 40px;
}

#bottomArea>.leftZone>div {
    width: 100px;
}

#bottomArea>.leftZone>div>img {
    margin-bottom: 50px;
    width: 100%;
}

#bottomArea p {
    padding: 2px;
    color: green;
    font-size: 12px;
}

#bottomArea>div.leftZone {
    float: left;
}

#bottomArea>div.rightZone {
    display: flex;
    float: right;
    width: 800px;
    height: 160px;
    /* background-color: red; */
}

#bottomArea>div.rightZone>div {
    margin-right: 50px;
}

.rightZone1>p:nth-child(4) {
    margin-top: 50px;
}

.rightZone2>p:nth-child(5) {
    margin-top: 50px;
}

#bottomArea {
    position: relative;
    overflow: hidden;
    padding: 40px;
}

#bottomArea>.leftZone>div {
    width: 100px;
}

#bottomArea>.leftZone>div>img {
    margin-bottom: 50px;
    width: 100%;
}

#bottomArea p {
    padding: 2px;
    color: green;
    font-size: 12px;
}

#bottomArea>div.leftZone {
    float: left;
}

#bottomArea>div.rightZone {
    display: flex;
    float: right;
    width: 800px;
    height: 160px;
    /* background-color: red; */
}

#bottomArea>div.rightZone>div {
    margin-right: 50px;
}

.rightZone1>p:nth-child(4) {
    margin-top: 50px;
}

.rightZone2>p:nth-child(5) {
    margin-top: 50px;
}
#banner{
    width: 360px;
    height: 360px;
    position: fixed;
    top: 320px;
    left: 100px;
    background-color: white;
    overflow: hidden;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    z-index: 8000;
    display: none;
    opacity: 0;
}
#banner>p{
    color: rgba(52, 67, 55, 0.6);
}
#banner>p:nth-of-type(1){
    float: right;
    cursor: pointer;
}
#banner>img{
    display: block;
    width: 100px;
    object-fit: cover;
    margin: 50px auto;
}
#banner>p:nth-of-type(2){
    text-align: center;
    line-height: 30px;
}
#banner>button{
    display: block;
    font-size: 12px;
    width: 180px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #535c4a;
    border: none;
    border-radius: 5px;
    color: white;
}