#companyProfileWrap #company { /* add */
  width: 100%;
}

#companyProfileWrap #Box {
  background-image: url(../img/companyprofile_Bgimg.png);
  width: 100%; /* 수정 */
  height: 400px;
  /* height: 480px; 수정 */
  margin: 0 auto;
  position: relative; /* add */
  border-top: 1px solid #ededed; /* add */
  border-bottom: 1px solid #ededed; /* add */
  overflow: hidden; /* add */
}

#company #Box .boxContentsWrap {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -210px;
  opacity: 0;
}

#companyProfileWrap h1 {
  font-family: "Montserrat", sans-serif;
  color: #525151;
  letter-spacing: 1px;
  font-size: 39px;
  font-weight: 530;
  text-align: center;
  margin-top: 90px;
}

#companyProfileWrap p {
  text-align: center;
  padding-top: 40px;
  color: #696868;
  font-size: 18px;
}

#companyProfileWrap .button {
  width: 100px;
  height: 50px;
  background-color: rgb(40, 46, 46);
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  position: relative;
  transition: 1s;
  border-radius: 4px;
}

#companyProfileWrap .button>a {
  color: white;
  text-decoration: none;
  line-height: 50px;
}

#companyProfileWrap .button:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid black;
}

#companyProfileWrap .button:hover>a {
  color: #494848;
}